asn1crypto==0.24.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
Django==1.11.11
djangorestframework==3.7.7
enum34==1.1.6
gunicorn==19.7.1
html5lib==1.0.1
idna==2.6
ipaddress==1.0.19
mechanize==0.2.5
ordereddict==1.1
pathlib==1.0.1
pipenv==11.9.0
pycparser==2.18
pyOpenSSL==17.5.0
python-dateutil==2.5.3
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
webencodings==0.5.1
whitenoise==3.3.1
